html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Matcha | Admin
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
		link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel="stylesheet", href="main.css")

	body
		.page-container
			.content-wrap
				header
					nav.navbar.navbar-expand-md.navbar-dark.bg-dark
						a.navbar-brand(href="admin") MATCHA

						//- burger button on phone screens
						button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSuppportedContent")
							span.navbar-toggler-icon

						//- targeted info by button
						#navbarSuppportedContent.collapse.navbar-collapse
							ul.navbar-nav.ml-auto
								li.nav-item
									a.nav-link(href="logout") Logout Admin

				.container-lg
					.container.m-0
						.row.m-0
							.col-sm-6.pt-2
								h4 Blocked Users
								if blocks.length !== 0
									for block in blocks
										.form-group.mb-0
											form(action="/admin/dismiss", method="post")
												input(type="hidden", name="username", value= block.blocked)
												p.d-inline.mr-0="Blocked user: " +  block.blocked + " -> blocked by: " + block.blocker
												button.close.d-inline(type="submit", name="dismiss", aria-label="Close")
													span(aria-hidden="true") &times;
								else
									h6 No blocked users found!
							.col-sm-6.pt-2
								h4 Reports
								if reports.length !== 0
									for report in reports
										.form-group.mb-0
											form(action="/admin/delete", method="post")
												input(type="hidden", name="username", value= report.reported)
												p.mr-0.mb-0="Reported user: " +  report.reported + " -> reported by: " + report.reporter
												p.d-inline.mr-0="Reason: " + report.message
												button.close.d-inline(type="submit", name="dismiss", aria-label="Close")
													span(aria-hidden="true") &times;
								else
									h6 No existing reports found!

			//- footer
			footer.page-footer.font-small.mdb-color.bg-light.text-dark
				.container.text-center.text-md-left
					.row.text-center.text-md-left.mt-3.pb-1
						.col-md-6.col-lg-5.col-xl-4.mx-auto.mt-3
							h6.text-uppercase.mb-3.font-weight-bold About us
							p
								| In this day and age meeting new people and forming relationships is more difficult than ever,
								| wether it be from a busy job or a lack of opportunity. Matcha's vision is to offer young and old people the unique opportunity to meet
								| that potential special partner in life, all at your fingertips!
								| But remember, there's more to love than just emojis and midnight texts.
						.col-md-5.col-lg-4.col-xl-3.mx-auto.mt-3
							h6.text-uppercase.mb-3.font-weight-bold Get In Touch
							p
								a.text-info(href="http://instagram.com/jadon.hansen") Instagram
							p
								a.text-info(href="http://facebook.com/jadon.hansen.56") Facebook
							p
								a.text-info(href="https://mail.google.com/mail/u/0/#inbox?compose=new") matchaccnts@gmail.com
					hr
					.row
						.col.text-center
							p
								| &copy; 2019 Matcha. All rights reserved.
							a.text-info.github-link(href='https://jadonhansen')
								strong  @jadonhansen

		script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
		script(src="https://kit.fontawesome.com/17df3da6b8.js", crossorigin="anonymous")