doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Matcha
    link(rel="stylesheet" href="home.css")
  body
    section.banner.full
      article
        img(src="12.jpeg", alt="", srcset="")
        div.inner
          header
            p Venture into a new world with us and never go back
            h2 Matcha

      article
        img(src="10.jpg", alt="", srcset="")
        div.inner
          header
            p Tweak your account to get the most out of Matcha and your future partner
            h2 Simplicity

      article
        img(src="7.jpeg", alt="", srcset="")
        div.inner
          header
            p Search and get matched with users with similar interests as you. No more fakes!
            h2 Convenience

      article
        img(src="8.jpg", alt="", srcset="")
        div.inner
          header
            p Utilise our advanced chat feature to contact your future partner
            h2 Meet and greet

      article
        img(src="9.jpeg", alt="", srcset="")
        div.inner
          header
            p We are committed to helping those who are committed to their journey
            h2 It's a deal!

    #one
      .wrapper.style2
        .inner
          .grid-style
            .box
              .image.fit
                img(src="6.jpg", alt="", srcset="")
              .content
                header.align-center
                  p Continue your journey
                  h2 Login to your existing account
                p Login to your account from anywere, anytime to keep that connection alive with those special few.
                footer.align-center
                  a.button.alt(href="login") Login

            .box
              .image.fit
                img(src="5.jpeg", alt="", srcset="")
              .content
                header.align-center
                  p Start your amazing journey with Matcha
                  h2 Create a profile
                p Fill out your profile and preferences and start meeting new singles in your area immediately.
                footer.align-center
                  a.button.alt(href="create") Create

    #two
      .wrapper.style3
        .inner
          .align-center
            p Like dating in real life, only easier
            h2 We hope you enjoy your experience with us

    footer#footer
      .container
        ul.icons
          li
            a.icon.fa-facebook(href="https://www.facebook.com/jadon.hansen.56")
              span.label Facebook
          li
            a.icon.fa-instagram(href="https://instagram.com/jadon.hansen")
              span.label Instagram
          li
            a.icon.fa-envelope-o(href="https://mail.google.com/mail/u/0/#inbox?compose=new")
              span.label Email
      .copyright &copy; 2019 Matcha. All rights reserved.
      .copyright 
        a(href="http://github.com/jadonhansen") @jhansen      
        a(href="http://github.com/gstrauss42") @gstrauss

  script(src='/js/jquery.min.js')
  script(src='/js/jquery.scrollex.min.js')
  script(src='/js/skel.min.js')
  script(src='/js/util.js')
  script(src='/js/main.js')